version: "3.9"

services:
  app:
    build: .
    container_name: delayed-notifier
    env_file: .env
    depends_on:
      - redis
      - rabbit
      # PostgreSQL добавляется через профиль
    ports:
      - "8080:8080"
    restart: unless-stopped
    command: [ "./delayed-notifier" ]

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

  rabbit:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifier_dev
    restart: unless-stopped
    profiles:
      - postgres
