services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 10s

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifier_dev
    restart: unless-stopped
    profiles:
      - postgres

  app:
    build: .
    container_name: delayed-notifier
    env_file: .env
    depends_on:
      - redis
      - rabbitmq
      # PostgreSQL добавляется через профиль
    ports:
      - "8080:8080"
    restart: unless-stopped
    command: [ "./delayed-notifier" ]
